body{
    background-color: black;
    color: white;
    height: 15rem;
    width: 17rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#jokeElement{
    font-size: 1.6rem;
    margin: 15px 10px;
    margin-bottom: 20px;
    padding: 19px 15px;
    border: 1px solid white;
    border-radius: 6px;
}